body {
  margin: 0;
  background-image: url("https://media.istockphoto.com/id/1150968557/vector/seamless-pattern-of-pancakes-with-butter-and-maple-syrup-sweet-on-white-background.jpg?s=612x612&w=0&k=20&c=lHG75UgYcmjFBxzY4UuOS7v4GbjIqXPyCRUZUKyJlVY=")
}

h1, p {
  background-color: white;
}
